<app-modal>
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="enteredUserName" />
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="enteredPassword" />
        </p>

        <p class="actions"><a routerLink="/register">Register</a></p>

        <p class="actions">
            <a routerLink="../">Cancel</a>
            <button type="submit">Login</button>
        </p>
    </form>
</app-modal>