<app-places-container title="This user posts">
  @if (isFetching() && !error()) {
  <p class="fallback-text">Fetching posts...</p>
  }

  @if (error()) {
  <p class="fallback-text">{{ error() }}</p>
  }
  <div class="m-8">
    <app-posts [posts]="posts()!" />
  </div>
  
  <!-- @if (places()) {
  <app-places [places]="places()!" [isAvailablePlaces]="false"/>
  } @else if (places().length === 0) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  } -->
</app-places-container>