<app-modal>
    <div class="flex flex-col justify-center items-center m-8">
        <app-close-btn />
        <h2 class="font-bold text-2xl m-2">{{ post?.title }}</h2>
        <img class="m-2" [src]="post?.imgSrc" [alt]="post?.imgAlt">
        <p class="m-2">{{ post?.imgAlt }}</p>

    </div>
    <div class="m-8">
        <h2 class="font-bold text-2xl mb-4">Comments</h2>
        <ul>
            <!-- @if (isLoggedIn()) { -->
            <div class="flex justify-end">
                <button class="border-2 rounded-2xl p-2" (click)="showAddComment()">Add Comment
                    <mat-icon>add_comment</mat-icon>
                </button>
            </div>
            <!-- } -->
            @if (opening) {
            <div class="mb-4">
                <textarea class="w-full border-2 rounded-2xl p-4" type="text" id="comment" name="comment"
                    [(ngModel)]="enteredComment"></textarea>
                <button class="border-2 rounded-2xl p-2" type="submit" (click)="submitComment()">Add Comment
                    <mat-icon>send</mat-icon>
                </button>
            </div>
            }
            @for (comment of postComments(); track comment.userId) {
            <li class=" grid grid-cols-[30px_1fr] border border-slate-500 rounded-2xl p-4 mb-4">
                <mat-icon>account_circle</mat-icon>
                <h3>{{ comment.userName }}</h3>
                <mat-icon>star_border</mat-icon>
                <p> {{ comment.rating }}</p>
                <p class="col-span-2">{{ comment.comment }}</p>
            </li>
            }
        </ul>
    </div>
</app-modal>