<app-modal>
    <div class="container">
        <button class="close-btn" (click)="onClose()">X</button>
        <h2>Register</h2>
        <form (ngSubmit)="onSubmit()">
            <p>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" [(ngModel)]="enteredUserName" />
            </p>

            <p>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" [(ngModel)]="enteredPassword" />
            </p>

            <p>
                <label for="confirmPassword">Confirm password: </label>
                <input type="password" id="confirmPassword" name="confirmPassword"
                    [(ngModel)]="enteredConfirmPassword" />
            </p>

            <a class="to-login" routerLink="/login">Back to login</a>

            <p class="actions">
                <!-- <a routerLink="../">Cancel</a> -->
                <button class="register-btn" type="submit">Register</button>
            </p>
        </form>
    </div>
</app-modal>