<ul>
    @for (place of places(); track place.placeId) {
    <li class="place-item">
        <div class="relative">
            <div class="actions">
                @if (place.isFav) {
                <mat-icon class="btn add-btn stroke-red-400" title="Remove from favorites"
                    (click)="onRemoveFavPlace(place.placeId, currentUser.userId)">favorite</mat-icon>
                } @else {
                <mat-icon class="btn add-btn" title="Add to favorites"
                    (click)="onAddFavPlace(place.placeId, currentUser.userId)">favorite_border</mat-icon>
                }
                @if (isAdmin && isAvailablePlaces()) {
                <mat-icon class="btn delete-btn" title="Delete this place"
                    (click)="onDeletePlace(place.placeId)">delete</mat-icon>
                }
            </div>
            <button class="btn comment-btn" title="Add a comment">
                <mat-icon>
                    comment
                </mat-icon>
                  {{ place.commentCount || 0 }}
            </button>

            <button [routerLink]="['/place-detail', place.placeId]">
                <img [src]="place.imgSrc" [alt]="place.imgAlt" />
            </button>
            <h3>{{ place.title }}</h3>
        </div>

        <div class="flex flex-row">
            <mat-icon>account_circle</mat-icon>
            <p>{{ place.uploadedUserId }}</p>
        </div>

    </li>
    }
</ul>
<app-confirm-unfavorite-modal #dialogUnfavorite title="Do you confirm to remove place from favorite" [message]="" />
<app-confirm-delete-place-modal #dialogDeletePlace title="Do you confirm to delete place" [message]="" />