h2 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 0.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #e5f9fc;
}

input {
  width: 100%;
  font: inherit;
  padding: 0.25rem 0.25rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 1px solid #67abb6;
  background-color: #c6f7ff;
}

.to-register {
  color: #181223;
}

.actions {
  display: flex;
}

.login-btn {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-radius: 4px;
  background-color: #8feeff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #181223;
  font-weight: bold;
  display: block;
  flex: 1;
}

button:hover,
button:active {
  background-color: #68c4d4;
  border-radius: 4px;
}

.control-error {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5rem; */
  color: #ff0000;
  /* height: 0.5rem; */
  /* padding: 0.25rem 0 0 0; */
  /* height: 1.5rem; */
  /* margin-bottom: 1rem; */
}

/* .backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

dialog {
  width: 90%;
  max-width: 30rem;
  background-color: #433352;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
}

h2 {
  margin: 0;
  color: #d0c2e1;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  color: #ab9ac0;
  margin-bottom: 0.25rem;
}

input,
textarea {
  width: 100%;
  font: inherit;
  padding: 0.25rem 0.25rem;
  border-radius: 4px;
  border: 1px solid #ab9ac0;
  background-color: #d0c2e1;
}

.actions {
  margin: 1rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background-color: transparent;
}

a {
  color: #bdadcf;
  text-decoration: none;
}

a:hover,
a:active {
  color: #d0c2e1;
}

button[type="submit"] {
  background-color: #9c73ca;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #895cce;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  dialog {
    padding: 2rem;
  }
} */
