<app-modal>
    <div class="flex flex-col justify-center items-center m-8">
        <button class="close-btn" (click)="onClose()">
             <mat-icon>close</mat-icon>
        </button>
        <h2 class="font-bold text-2xl m-2">{{ place?.title }}</h2>
        <img class="m-2" [src]="place?.imgSrc" [alt]="place?.imgAlt">
        <p class="m-2">{{ place?.imgAlt }}</p>
        
    </div>
    <div class="m-8">
        <h2 class="font-bold text-2xl mb-4">Comments</h2>
        <ul>
            <!-- @if (isLoggedIn()) { -->
                <button routerLink="" class="flex justify-end">Add Comment</button>
            <!-- } -->
            @for (comment of placeComments(); track comment.userId) {
            <li class=" grid grid-cols-[30px_1fr] border border-slate-500 rounded-2xl p-4 mb-4">
                <mat-icon>account_circle</mat-icon>
                <h3>{{ comment.userName }}</h3>
                <mat-icon>star_border</mat-icon>
                <p> {{ comment.rating }}</p>
                <p class="col-span-2">{{ comment.comment }}</p>
            </li>
            }
        </ul>
    </div>
</app-modal>