<app-modal>
    <div class="container">
        <button class="close-btn" (click)="onClose()">
             <mat-icon>close</mat-icon>
        </button>
        <h2>{{ place?.title }}</h2>
        <img [src]="place?.imgSrc" [alt]="place?.imgAlt">
        <p>{{ place?.imgAlt }}</p>
        <h2>Comments</h2>
    </div>
    <div class="comments-container">
        <ul>
            @for (comment of thisPlaceComments; track comment.userId) {
            <li class="comment-item">
                <h3>{{ comment.userName }}</h3>
                <p><mat-icon>star_border</mat-icon> {{ comment.rating }}</p>
                <p>{{ comment.comment }}</p>
            </li>
            }
        </ul>
    </div>

</app-modal>