<app-modal>
    <div class="flex flex-col gap-4 m-8">
        <app-close-btn></app-close-btn>
        <h2 class="font-bold text-2xl">Add new post</h2>
        <form>
        <!-- <form (ngSubmit)="onSubmit()"> -->
            <p class="mb-4">
                <label for="title">Title: </label>
                <input class="w-fit border-2 rounded-xs" type="text" id="title" name="title"
                    [(ngModel)]="enteredTitle" />
            </p>

            <p class="mb-4">
                <label for="description">Description: </label>
                <textarea class="w-full border-2 rounded-xs" type="text" id="description" name="description"
                    [(ngModel)]="enteredAlt"></textarea>
            </p>

            <p class="mb-4">
                <label for="image">Image: </label>
                @if(imagePreview) {
                <img class="m-8" [src]="imagePreview" width="400px" height="300px">
                }
                <input type="file" accept="image/*" (change)="onSelectImage($event)" />
            </p>


            <p class="flex justify-end gap-4">
                <a routerLink="../">Cancel</a>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</app-modal>